.navbar {
  width: 15%;
  min-height: 100vh;
  background-color: black;
  padding: 1rem;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
  cursor: pointer;
  color: white;
}

.navbar .artistas-musicas-conta {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  cursor: pointer;
}

.navbar .imgs-navbar {
  max-width: 40px;
}

.navbar .logout {
  display: flex;
  /* position: fixed; */
  justify-content: center;
  align-items: center;
  /* bottom: 1rem;
  left: 3.8rem; */
  margin-top: 50rem;
  cursor: pointer;
}

.navbar h4 {
  color: #fff;
  opacity: 0.7;
  transition: 0.3s;
  padding: 10px;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:visited {
  color: #fff;
}

.navbar h4:hover {
  opacity: 1;
}
