.main-container-content{
    background-color: #141414;
    color: white;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-container-content .form-container .user-name-container{
    max-width: 400px;
    margin-top: 2rem;
    background-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main-container-content .form-container .user-name-container input{
    width: 100%;
    border: none;
    color: #868686;
    font-size: 22px;
    margin: 0;
    width: 90%;
    background-color: #3c3c3c;
}

.main-container-content .form-container .user-name-container input:focus{
    outline: none;
}

.main-container-content .title{
    max-width: 400px;
    font-size: 38px;
}

.main-container-content .btn-cadastro{
    background-color: #3FE168;
    color: white;
    font-size: 20px;
    margin-top: 2.5rem;
    border-radius: 20px;
    width: 65%;
    height: 45px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.main-container-content .btn-cadastro:hover{
    background-color: #141414;
    border: #3FE168 solid 1px;
}


.main-container-content span a{
    margin-left: 3px;
}