.emailModal{
    background-color: black;
    padding:20px 50px 20px 50px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-title{
    color:white;
    display:block;
  } 

.new-email{
    background-color:#3C3C3C;
    color:white;
    font-size: large;
    width: 100%;
    padding:10px 0 10px 5px;
    margin:10px 0 10px 0;
    border:none;
    display:block;
}

.cancel-btn, 
.confirm-btn{
    padding: 7px 15px 7px 15px;
    margin: 0 15px 0 15px;
    font-size: large;
    border-radius:20px;
    color:white;
    font-weight: bold;
    border:none;
}

.cancel-btn:hover, 
.confirm-btn:hover{
    cursor:pointer;
}

.cancel-btn{
    background-color: #E42D2D;
}

.confirm-btn{
    background-color:#3FE168;
}
