.passwordModal{
    background-color: black;
    padding:7px 50px 7px 50px;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.old-password,
.new-password,
.confirm-new-password{
    background-color:#3C3C3C;
    color:#3C3C3C;
    font-weight: bold;
    padding:5px 0 5px 0;
    margin:10px 0 10px 0;
    display:block;
}