.fav-artists-container {
  /* min-height: 1000px; */
  min-height: 100vh;
  width: 100%;
  color: aliceblue;
  border: 1px solid black;
  display: flex;
  background-color: #181818;
}

.artist-section {
  padding: 5rem;
  width: 80%;
}

.fav-artists-container .artist-section h2 {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}