.song-playlist-container{
  width: 100%;
}

.song{
  display: flex;
  margin-top: 1rem;
  margin-left: 10px;
  width: 100%;
}

.info{
  display: flex;
  width: 92%;
}

.icons{
  display: flex;
}

.name{
  width: 60%;
  display: inline;
  margin-top: 0.5rem;
}

.album-name{
  width: 20%;
}

span{
  width: 2%;
  margin-top: 1rem;
}

.heart-icon {
  cursor: pointer;
}

.heart-hide{
  display: none;
}

.trash-icon {
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
