@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono&family=Roboto+Mono:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  color: aliceblue;
}

.App{
  margin-top: 8.3rem;
  margin-left: 3rem;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.buttons-line{
  display: flex;
  margin-bottom: 6rem;
}


.PB{
  max-width: 60px;
  margin-right: 1rem;
  cursor: pointer;
}

.HB{
  margin-top: 5px;
  max-width: 40px;
  margin-right: 1rem;
  cursor: pointer;
}

.DB{
  margin-top: 10px;
  max-width: 40px;
  margin-right: 1rem;
  cursor: pointer;
}

.TD{
  margin-left: 0.2rem;
  margin-top: 20px;
  max-width: 40px;
  cursor: pointer;
}

.songs-top-line{
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.title{
  width: 57%;
}

.album{
  width: 37%;
}

hr{
  width: 99%;
}
