.playlist-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 9rem;
  background: linear-gradient(to bottom, #17A6E4, black);
  color: aliceblue
}

.playlist-container .buttons-line{
  display: flex;
  margin-bottom: 6rem;
}


.playlist-container .buttons-line .play-button .PB{
  max-width: 60px;
  margin-right: 1rem;
  cursor: pointer;
}

.playlist-container .buttons-line .heart-button .HB{
  margin-top: 5px;
  max-width: 40px;
  margin-right: 1rem;
  cursor: pointer;
}

.playlist-container .buttons-line .download-button .DB{
  margin-top: 10px;
  max-width: 40px;
  margin-right: 1rem;
  cursor: pointer;
}

.playlist-container .buttons-line .three-dots .TD{
  margin-left: 0.2rem;
  margin-top: 20px;
  max-width: 40px;
  cursor: pointer;
}

.playlist-container .songs-top-line{
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.playlist-container .songs-top-line .title{
  width: 57%;
}

.playlist-container .songs-top-line .album{
  width: 37%;
}

.playlist-container hr{
  width: 99%;
}